<div class="form-group dash-form">
    <input type="text" class="form-control" autofocus ng-model="$ctrl.query" value="" placeholder="Type number here" autocomplete="off">
    <br>
    <button type="submit" class="btn btn-primary" ng-click="$ctrl.search()">View</button>
    <br/>
    <hr>
    <br/>
    <div ng-show="$ctrl.bool" ng-repeat="customer in $ctrl.customer" style="border:1px solid grey">
        <h3 style="text-align:center">{{customer.name}}</h3>
        <hr>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Product Brand</th>
                    <th>Bar Code</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bought in customer.bought">
                    <td>{{bought.product}}</td>
                    <td>{{bought.price}}</td>
                    <td>{{bought.company}}</td>
                    <td>{{bought.barCode}}</td>
                    <td>{{bought.purchaseDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>